@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  border: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    135deg,
    rgba(2, 0, 36, 0.5) 0%,
    rgba(9, 9, 121, 0.8) 40%,
    rgba(0, 212, 255, 0.8) 100%
  ),
  url(images/background.jpg);
  background-size: cover, cover;
  background-position: center, center -280px;
  background-repeat: no-repeat;
  width: 100%;
  height: 15vh;
  color: #e4e4e4;
  transition: background-position 0.3s ease-in-out; 
}

.sched-chip-1 {
  margin-left: 5vw;
}

.sched-chip {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  margin-bottom: 3vh;
  width: fit-content;
  padding: 0.25vh 2.5vh 0.25vh 1vh;
  border-radius: 100px;
  border: 1px solid rgb(28, 28, 28, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
}

.chips {
  display: flex;
  flex-direction: row;
  gap: 2vh;
}

.link-sections {
  margin: 2vh 10vh 0 10vh;
}

h3.welcome-txt {
  text-decoration: underline;
  font-weight: 300;
}

.forms-sec,
.sheet-sec,
.drive-sec {
  margin: 0 0 10px 0;
}

.sheet-sec,
.drive-sec {
  margin-top: 5vh;
}

a {
  color: #111111;
  text-decoration: none;
  transition: color 0.3s ease-in-out; 
}

.section {
  display: flex;
  flex-direction: row;
  gap: 3vh;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2vh 0 2vh 0;
  padding: 2vh;
  border-radius: 10px;
  border: 1px solid rgb(28, 28, 28, 0.2);
  height: fit-content;
  width: 200px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
}

.sched-chip:hover {
  cursor: pointer;
  border: none;
  color: #34a853;
  transform: scale(1.05);
  box-shadow: 0 12px 48px rgba(52, 168, 83, 0.5);

  .sched {
    color: #34a853;
  }
}

.box:hover {
  cursor: pointer;
  border: none;
  /* transform: scale(1.05);  */
  /* box-shadow: 0 12px 48px rgba(31, 38, 135, 0.5);  */

  .form-label {
    color: #673ab7;
    font-weight: 600;
    /* text-decoration: underline; */
  }

  .sheet-label {
    color: #34a853;
    font-weight: 600;
    /* text-decoration: underline; */
  }

  .sched-label {
    color: #4285f4;
    font-weight: 600;
    /* text-decoration: underline; */
  }

  .drive-label {
    color: #fbbc04;
    font-weight: 600;
    /* text-decoration: underline; */
  }

  .forms {
    color: #673ab7;
  }

  .sheets {
    color: #34a853;
  }

  .sched {
    color: #4285f4;
  }

  .drive {
    color: #fbbc04;
  }
}

.ward:hover {
  transform: scale(1.05); 
  box-shadow: 0 12px 48px rgba(103, 58, 183, 0.5);
}

.office:hover {
  transform: scale(1.05); 
  box-shadow: 0 12px 48px rgba(52, 168, 83, 0.5);
}

.jira:hover {
  transform: scale(1.05); 
  box-shadow: 0 12px 48px rgba(66, 133, 244, 0.5);
}

.gdrive:hover {
  transform: scale(1.05); 
  box-shadow: 0 12px 48px rgba(251, 188, 4, 0.5);
}

.material-symbols-rounded {
  padding: 2vh;
  color: #111111;
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.label {
  color: #111111;
  transition: color 0.3s ease-in-out; /* Smooth color transition */
}

.bottom {
  margin: 10vh;
}
